/*Define no margin and no padding to html*/
html, body{
	margin:0;
	padding: 0;
}
/*Styling of HEADER*/
header{
	height: auto;
	width: auto;

	position: relative;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: black;
}
#right_buttons{
	height: 20px;
	width: 200px;

	display: grid;
	grid-template-columns: 2fr 1fr;
 
	padding: 10px;
	background-color: transparent;
}
.button{
	height: 15px;
	width: auto;

	margin: 4px;
	background-color: black;
}
#languages_selection{
	width: 80px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	background-color: transparent;
}
.language_button{
	height: 15px;
	width: 25%;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
}
.language_button:hover #ru_icon, .language_button:hover #esp_icon{
	transform: scale(1.5);
	transition: 0.4s ease;
}
#esp_icon, #ru_icon{
	width: 20px;
	height: auto;

	position: absolute;
}
#login{
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: black;
}
#login button{
	font-weight: bold;
	font-family: Optima;
}
/*END Styling of HEADER*/
/*Styling of MENU BAR*/
#menu_bar{
	width: 100%;
	height: 43px;

	position: sticky;
	position: -webkit-sticky;

	top: 0;
	z-index: 10;
	background-color: green;
}
#menu_items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	
	background-color: rgb(38, 38, 38);
}
.button_menu{
	height: 20px;
	width: auto;

  	display: flex;
  	justify-content: center;
  	align-items: center;

	/* Prevent background color leak outs */
  	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
  	background-clip:         padding-box;

	/* HOVER TRANDSITION */
  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;

  	cursor: pointer;

  	background-color: rgb(38, 38, 38);
	margin: 5px;
	padding: 4px;
	/*FOR BROWSERS' SUPPORT OF THE BORDER*/
	-webkit-border-radius: 5px;	/*SAFARI, IOS, ANDROID*/
	-moz-border-radius: 5px; 	/*FIREFOX*/
	border-radius: 5px;			
	border: 3px solid black;
}
.button_text{
	font-size: 16px;
	font-family: Optima;
	text-align: center;
	font-weight: bold;
	font-variant: small-caps;
	font-stretch: normal;
  	
  	color: white;
  	transition-duration: 0.4s;
}
#clientzone_button{ /*DISABLED*/
	opacity: 0.6;
  	cursor: not-allowed !important;
}
#ini_button:hover, #prod_button:hover, #brands_button:hover,
#news_button:hover, #contact_button:hover{
	background-color: lightskyblue;
}
.button_menu:hover .button_text{
	color: black;
	padding-right: 20px;
}
.button_menu:hover #ini_icon, .button_menu:hover #prod_icon,
.button_menu:hover #brands_icon, .button_menu:hover #news_icon,
.button_menu:hover #contact_icon, .button_menu:hover #clientzone_icon{
	opacity: 1;
}
#ini_icon{
	position: absolute;
	padding-left: 40px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}
#prod_icon{
	position: absolute;
	padding-left: 72px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}
#brands_icon{
	position: absolute;
	padding-left: 52px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}
#news_icon{
	position: absolute;
	padding-left: 52px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}
#contact_icon{
	position: absolute;
	padding-left: 70px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}
#clientzone_icon{
	position: absolute;
	padding-left: 60px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}
/*END Styling of MENU BAR*/
/*Styling of LISTS MENU*/
#list_menu{
	height: 0px; 

	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	position: -webkit-sticky;
	top: 43px;

	background-color: black;
	overflow: hidden;
	transition-duration: 1s;
	z-index: 10;
	background-image: url("../img/videos.jpg");
}
#prod_list_menu, #brand_list_menu, 
#news_list_menu, #contact_list_menu{
	width: 100%;
	height: 100%;

	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	position: absolute;

	opacity: 0;
	transition-duration: 1s;
	background-color: transparent;
}
.first_elem_list{
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.first_elem_list div{
	width: 90%;
	height: 80%;

	background-color: transparent;
}
.second_elem_list{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 190px;
	background-color: transparent;
}
.second_elem_list img{
	width: 540px;
	height: 240px;
}
.third_elem_list{
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.third_elem_list div{
	width: 90%;
	height: 80%;

	background-color: transparent;
}
.item_list{
	list-style: none;
	background-color: transparent;
	margin: 0;
  	padding: 0;

	font: 200 12px/1.5 Optima, sans-serif;
  	border-bottom: 1px solid #ccc;
}
.item_list:last-child {
  	border: none;
}
.title_list{
	text-align: left;
	font-family: Optima;
	font-weight: bold;
	font-size: 28px;
	font-variant: small-caps;
	margin: 0;
}
.title_list a{
	text-decoration: none;
	color: white;
}
.title_list a:hover{
	color: lightskyblue;
	transition-duration: 0.2s;
}
.item_list a {
	text-decoration: none;
  	color: white;
  	display: block;
  	width: 100%;
  	margin: 0;
 
  	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
  	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  	transition: font-size 0.3s ease, background-color 0.3s ease;
}
.item_list a:hover{
	font-size: 20px;
	color: black;
	margin: 0;
  	background: lightskyblue;
}
/*END Styling of LISTS MENU*/
/*Styling of SUBMENU BAR*/
#submenu_bar{
	position: sticky;
	position: -webkit-sticky;
	top: 43px;

	z-index: 5;
	background-color: black;
	transition-duration: 1s;
}
#submenu_items_container{
	display: grid;
	grid-template-columns: 5px 110px auto 160px;

	background: black;
}
.submenu_item{
	background-color: transparent;
	margin: 6px;
}
#path_container{
	height: 17px;
	width: 400px;
}
#path{
	font-size: 12px;
	font-family: Optima;
	font-weight: bold;
	font-variant: small-caps;
	font-stretch: normal;
  	color: grey;
}
#lupa{
	height: 17px;
	width: 140px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}
form.search_bar{
	width: 100%;
	display: grid;
	grid-template-columns: 75% 5% 20%;
}
/* Style the search field */
form.search_bar input[type=text] {
	width: 100%;

  	font-size: 12px;
  	color: white;
  	border: 3px solid black;
  	background: rgb(38, 38, 38);
  	font-family: Optima;
}
/* Style the submit button */
form.search_bar button {
	width: 100%;

  	padding: 3px;
  	background: transparent;
  	color: grey;
  	font-size: 17px;
  	border: 1px transparent;
  	cursor: pointer;
}
form.search_bar button:hover {
  color: #0b7dda;
}
/*END Styling of SUBMENU BAR*/
/*Styling of FOOTER*/
footer{
	width: 100%;
	height: 200px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: rgb(38, 38, 38);
}
footer .footer_subcontainer{
	height: 85%;
	width: 22%;
	background-color: rgb(30,30,30);
}

/*END Styling of MAIN SECTIONS*/





