@font-face {
	font-family: 'neon';
	src: url('../fonts/Neoneon.otf') format('opentype'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('../fonts/Neoneon.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@font-face {
	font-family: 'vampire';
	src: url('../fonts/Neon Vampire.ttf') format('opentype'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('../fonts/Neon Vampire.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@font-face {
	font-family: 'delirium';
	src: url('../fonts/28\ Days\ Later.ttf') format('opentype'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('../fonts/28\ Days\ Later.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

@font-face {
	font-family: 'ghost';
	src: url('../fonts/iknowaghost.ttf') format('opentype'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('../fonts/iknowaghost.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

:root {
	--neon-glow: hotpink;
	--neon-glow-2: pink;
}

/*Define no margin and no padding to html*/
html, body{
	margin:0;
	padding: 0;
	background-color: black;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	scroll-behavior: smooth;
}

#space {
	position: fixed;
    min-height: 100%;
    min-width: 100%;
    height: 100vh;
    width: 100vw;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	width: 100%;
	height: 100vh;
}

header > div {
	position: absolute;
	z-index: 100;
}

header h1 {
	margin: 0;
	font-family: 'vampire', sans-serif;
	font-size: 6em;

	color: #fff;
	text-shadow: 0 0 0.1em var(--neon-glow), 
		0 0 0.1em var(--neon-glow), 
		0 0 1em var(--neon-glow), 
		0 0 1em var(--neon-glow);
	letter-spacing: 0.2em;
	font-weight: normal;
	line-height: 1.75;
	text-transform: uppercase;
}

header h2 {
	margin: 0;
	font-family: 'delirium', sans-serif;
	font-size: 2em;

	color:white;
	/*text-shadow: 0 0 0.1em var(--neon-glow-2), 
	0 0 0.1em aliceblue;  */
	letter-spacing: 0.2em;
}

.bottom__hero {
	width: 100%;
	height: 15vh;
	bottom: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom__hero h3 {
	font-family: 'delirium', sans-serif;
	font-size: 1.5em;

	color:white;
	/*text-shadow: 0 0 0.1em var(--neon-glow-2), 
	0 0 0.1em aliceblue;  */
	letter-spacing: 0.2em;
}


main {
	width: 100%;
	height: max-content;
	background-color: #1F141F;
	z-index: 100;
	position: absolute;
}

section {
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.border-3d {
	width: 100%;
	height: 8vh;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);

}

.border-3d > div {
	height: 100%;
	width: auto;
	background-image: url("../img/textures/concrete-border.png");
	background-size: 50% 90%;
	display: flex;
	align-items: flex-start;
	mix-blend-mode: exclusion;
	
}

.border-3d > div > div{
	height: 40%;
	width: 100%;
	/*background-color: rgba(0,0,0,1);*/
	clip-path: polygon(82% 13%, 64% 15%, 49% 10%, 34% 15%, 20% 11%, 0 15%, 0 0, 100% 0, 100% 15%);
	mix-blend-mode: normal !important; /*not working*/
}

.border-3d > div:first-child, .border-3d > div:nth-child(3), .border-3d > div:nth-child(5) {
	clip-path: polygon(100% 0, 100% 90%, 83% 94%, 66% 90%, 55% 93%, 40% 90%, 29% 92%, 13% 83%, 0 87%, 0 0);
}

.border-3d > div:nth-child(2), .border-3d > div:nth-child(4), .border-3d > div:last-child {
	clip-path: polygon(81% 89%, 63% 90%, 53% 93%, 36% 91%, 25% 86%, 15% 91%, 0 90%, 0 0, 100% 0, 100% 87%);
}

section h1 {
	margin: 0.4em;
	font-family: 'ghost', sans-serif;
	font-size: 4em;

	color: black;
	text-shadow: 0 0 0.01em black;
	font-weight: normal;
	text-transform: uppercase;
}

section[num="1"] > div {
	width: 100%;
	height: 100%;
	background-image: url("../img/textures/concrete.png");

}

section[num="1"] {
	background-color: burlywood;
	background-image: url("../img/textures/concrete.png");
	background-size: 25em;
}

section[num="2"] {
	background-color: darkkhaki;
}