@font-face {
	font-family: 'neon';
	src: url('../fonts/Neoneon.otf') format('opentype'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('../fonts/Neoneon.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@font-face {
	font-family: 'vampire';
	src: url('../fonts/Neon Vampire.ttf') format('opentype'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('../fonts/Neon Vampire.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@font-face {
	font-family: 'delirium';
	src: url('../fonts/28\ Days\ Later.ttf') format('opentype'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('../fonts/28\ Days\ Later.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

@font-face {
	font-family: 'ghost';
	src: url('../fonts/iknowaghost.ttf') format('opentype'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('../fonts/iknowaghost.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

:root {
	--neon-glow: hotpink;
	--neon-glow-2: pink;
	--terminal-nav: #454442;
    --terminal-body: #000000;
    --terminal-nav-no: #212120;
    --terminal-nav-text: #bfbdbb;
    --terminal-body-text: rgb(255, 158, 206); /*#72f44b;*/
    --terminal-close: #ee6659;
    --terminal-hide: #e0c04c;
    --terminal-open: #72be47;
    --terminal-border: #676664;
    --terminal-prompt-git: #b0ad41;
}

/*Define no margin and no padding to html*/
html, body{
	margin:0;
	padding: 0;
	background-color: black;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	scroll-behavior: smooth;
}

#space {
	position: fixed;
    min-height: 100%;
    min-width: 100%;
    height: 100vh;
    width: 100vw;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	width: 100%;
	height: 100vh;
}

header > div {
	position: absolute;
	z-index: 100;
}

header h1 {
	margin: 0;
	font-family: 'vampire', sans-serif;
	font-size: 6em;

	color: #fff;
	text-shadow: 0 0 0.1em var(--neon-glow), 
		0 0 0.1em var(--neon-glow), 
		0 0 1em var(--neon-glow), 
		0 0 1em var(--neon-glow);
	letter-spacing: 0.2em;
	font-weight: normal;
	line-height: 1.75;
	text-transform: uppercase;
}

header h2 {
	margin: 0;
	font-family: 'delirium', sans-serif;
	font-size: 2em;

	color:white;
	/*text-shadow: 0 0 0.1em var(--neon-glow-2), 
	0 0 0.1em aliceblue;  */
	letter-spacing: 0.2em;
}

.bottom__hero {
	width: 100%;
	height: 15vh;
	bottom: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom__hero h3 {
	font-family: 'delirium', sans-serif;
	font-size: 1.5em;

	color:white;
	/*text-shadow: 0 0 0.1em var(--neon-glow-2), 
	0 0 0.1em aliceblue;  */
	letter-spacing: 0.2em;
}


main {
	width: 100%;
	height: max-content;
	z-index: 100;
	position: absolute;
}

section {
	height: max-content;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

section h1 {
	margin: 0.4em;
	font-family: 'ghost', sans-serif;
	font-size: 4em;

	color: white;
	text-shadow: 0 0 0.01em white;
	font-weight: normal;
	text-transform: uppercase;
}

.wall {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1em;
}

.wall > div:last-child {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.about {
	width: 100%;
	height: max-content;
	padding: 0 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wall > div:last-child {
	width: 100%;
	height: 100%;
}

.terminal-body {
    /* General parameters of the terminal window */
    width: 450px;
    height: 130px;
     /* Main color of the terminal window */
    background-color: var(--terminal-body);
     /* Borders of the terminal window */
    border-radius: 7.5px;
    border: solid gainsboro 1px;
    /* Shadow of terminal window */
    -webkit-box-shadow: 0 0 0.1em var(--neon-glow-2), 
	0 0 0.1em var(--neon-glow-2), 
	0 0 1em var(--neon-glow);
    -moz-box-shadow: 0 0 0.1em var(--neon-glow-2), 
	0 0 0.1em var(--neon-glow-2), 
	0 0 1em var(--neon-glow);
    box-shadow: 0 0 0.1em var(--neon-glow-2), 
	0 0 0.1em var(--neon-glow-2), 
	0 0 1em var(--neon-glow);
    /* Hide the overflow of the div */
    overflow: hidden;

    display: flex;
	flex-wrap: wrap;
	
	transition: all 0.5s ease-out;

	cursor: pointer;
}

/*
.terminal-body:hover {
	transform: scale(1.1);
}
*/

.terminal-nav {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(var(--terminal-nav)  0%, #3f3e3d 100%);

    display: grid;
    grid-template-columns: 75px 1fr;

}

.terminal-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
}

.terminal-menu > div:nth-child(1) { background-color: var(--terminal-close); }
.terminal-menu > div:nth-child(2) { background-color: var(--terminal-hide); }
.terminal-menu > div:nth-child(3) { background-color: var(--terminal-open); }

.terminal-menu > div {
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 50%; 
}

.terminal-name {
    margin-right: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--terminal-nav-text);
    font-family: 'Courier', sans-serif;
    font-size: 14px;
}

.terminal-body-content {
    width: inherit;
    height: inherit;
    padding: 5px;
    padding-top: 0;
}

.terminal-body-content > p {
    padding: 0;
    margin: 0;

    color: var(--terminal-body-text);
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;

    display: flex;
}

.terminal-underscore {
    animation: blinker 1.5s infinite steps(1);
    width: 7.5px;
    height: auto;

    background-color: var(--terminal-body-text);
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.prompt > span {
    color: var(--terminal-prompt-git);
}

.links {
	width: 100%;
	height: 15vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

i {
	margin: 0.4em;
	font-size: 4em !important;
	color: white;
	font-weight: normal;
	text-transform: uppercase;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

.cards {
	width: 100%;
	height: max-content;

	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 20px [ini] 1fr [mid1] 20px [mid2] 1fr [end] 20px;

	text-align: center;
}

.cards > div:first-child {
	grid-column-start: ini;
	grid-column-end: mid1;
}

.cards > div:last-child {
	grid-column-start: mid2;
	grid-column-end: end;
}

.cards h4 {
	margin: 0;
	font-family: 'vampire', sans-serif;
	font-size: 3em;

	color: #fff;
	text-shadow: 0 0 0.1em var(--neon-glow), 
		0 0 0.1em var(--neon-glow), 
		0 0 1em var(--neon-glow), 
		0 0 1em var(--neon-glow);
	letter-spacing: 0.2em;
	font-weight: normal;
	line-height: 1.75;
	text-transform: uppercase;
}

.glow__card {
	width: 100%;
	height: max-content;
	margin: 10px 0;

	background-color: var(--terminal-body);
     /* Borders of the terminal window */
    border-radius: 7.5px;
    border: solid gainsboro 1px;
    /* Shadow of terminal window */
    -webkit-box-shadow: 0 0 0.1em var(--neon-glow-2), 
	0 0 0.1em var(--neon-glow-2), 
	0 0 1em var(--neon-glow);
    -moz-box-shadow: 0 0 0.1em var(--neon-glow-2), 
	0 0 0.1em var(--neon-glow-2), 
	0 0 1em var(--neon-glow);
    box-shadow: 0 0 0.1em var(--neon-glow-2), 
	0 0 0.1em var(--neon-glow-2), 
	0 0 1em var(--neon-glow);
}

.glow__card h5 {
	color: white;
	font-family: 'delirium';
	font-size: 2em;
	margin: 5px 10px;
}

.glow__card span  {
	color: white;
	font-family: 'neon';
	font-size: 1.5em;
}

.python {
	text-shadow: 0 0 0.1em yellowgreen, 
		0 0 0.1em yellowgreen, 
		0 0 1em yellowgreen, 
		0 0 1em yellowgreen;
}

.html {
	text-shadow: 0 0 0.1em gold, 
		0 0 0.1em gold, 
		0 0 1em gold, 
		0 0 1em gold;
}

.css {
	text-shadow: 0 0 0.1em plum, 
		0 0 0.1em plum, 
		0 0 1em plum, 
		0 0 1em plum;
}

.js {
	text-shadow: 0 0 0.1em orange, 
		0 0 0.1em orange, 
		0 0 1em orange, 
		0 0 1em orange;
}

.dart {
	text-shadow: 0 0 0.1em dodgerblue, 
		0 0 0.1em dodgerblue, 
		0 0 1em dodgerblue, 
		0 0 1em dodgerblue;
}

.cc {
	text-shadow: 0 0 0.1em palevioletred, 
		0 0 0.1em palevioletred, 
		0 0 1em palevioletred, 
		0 0 1em palevioletred;
}

.glow__card p {
	color: var(--terminal-body-text);
	font-family: 'Courier';
	/*text-transform: uppercase;*/
	margin: 5px 10px;
	font-size: 13px;
}

.glow__card i {
	margin: 0.1em;
	margin-bottom: 0.2em;
}

.art {
	background-image: url("../img/art.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
}

footer {
	color: white;
	text-align: center;
	font-family: 'delirium', sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.2em;

	display: flex;
	justify-content: center;
	align-items: center;
}

footer > div {
	width: max-content;
}


@media only screen and (max-width: 720px) {
	header h1 {
		font-size: 5em;
	}
	.terminal-body {
		width: auto;
	}
	.links i {
		font-size: 3em;
	}

	.cards {
		flex-direction: column;
		grid-template-rows: 1fr;
		grid-template-columns: 20px [ini] 1fr [end] 20px;
	
	}
	
	.cards > div:first-child, .cards > div:last-child {
		grid-column-start: ini;
		grid-column-end: end;
	}

}
